<!DOCTYPE html>
<html>
<head>
  <title>FiveSongs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <%= link_to "home", root_path %> | 
    <%= link_to "add song", new_song_path %>
  </nav>
  <%= yield %>

</body>
</html>
